/* Unauthorized.css */

.unauthorized-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBA617;
}

.auto-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.content {
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 100px;
  margin-bottom: 10px;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content .text {
  font-size: 18px;
  margin-bottom: 30px;
}

.theme-btn {
  display: inline-block;
  padding: 10px 30px;

  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.theme-btn:hover {
  background-color: #e14e0c;
  color: #fff;
}
